#dark-mode {
  border: 4px solid #ffff;
  position: relative;
}
#dark-mode input {
  opacity: 0;
  height: 42px;
  width: 112px;
  cursor: pointer;
}
#dark-mode input:checked + label .moonLogo {
  opacity: 1;
}
#dark-mode input:checked + label .sunLogo {
  opacity: 0;
}
#dark-mode input:checked + label .icon {
  transform: translateX(65px) rotate(360deg);
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: all 0.4s;
}
.moonLogo {
  opacity: 0;
}
#first-text span {
  font-family: "dancing script", cursive;
}

#second-text p {
  font-family: "Times New Roman", Times, serif;
}
.spanSecondText {
  color: #6fdcbf;
  -webkit-text-stroke: 2px #404040;
  text-shadow: -1px 1px 2px #000, 1px 2px 6px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.spanSecondText:hover {
  color: #404040;
  text-shadow: none;
  -webkit-text-stroke: 0;
  cursor: pointer;
}
#deskLogo {
  top: 267px;
}
